
@{
    ViewData["Title"] = "Index";
}

<h1>Assignment 01</h1>
<br />
<h1>Sagar Sutariya <br /> </h1>
<h2>
    Computer Engineering Technology - Computing Science <br />
    I learned a lot from this course. <br />
    Thank you.<br />
</h2>