@model Assignment1.Models.ViewModels.AdsViewModel

@{ ViewData["Title"] = "Index"; }
<style>


    h1 {
        font-family: "Times New Roman";
        letter-spacing: 5px;
    }
</style>
<h1>Show ads for community @Model.Community.Title</h1>

<p>
    <a asp-action="Create" asp-route-id="@Model.Community.ID">Upload New</a>
</p>
<p>
    <a asp-controller="Communities" asp-action="Index">Back to List</a>
</p>
@if (Model.Advertisements.Count() == 0)
{
<p>There are no files to display.</p> }
            else
            {
<table class="table">
    <thead>
        <tr>
            <th>
                File name
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Advertisements)
        {
<tr>
    <td>
        File Name
    </td>
    <td>
        <img src="@item.Url" style="max-width: 400px;" />
    </td>
    <td>
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>}
    </tbody>
</table>}
